body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #1e1e1e; /* Dark grey background */
    color: #dcddde; /* Light gray text */
}

#hero-img {
    height: 300px; 
    margin: 20px;
}

.dotted-box img {
    height: 100px;
}

h1 {
    color: #ffffff; /* White text for headings */
    text-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 1px 2px rgba(0, 0, 0, .2);
    font-weight: 800;
    font-size: 2.5em;
    text-align: center;
}

.popup-image {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#searchContainer {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    gap: 10px; /* Space between search bar and button */
    margin-bottom: 20px; /* Space below the container */
}

#searchBar {
    width: 300px;
    padding: 10px;
    border: 2px solid #4f545c; /* Darker border */
    border-radius: 5px;
    background-color: #40444b; /* Dark input background */
    color: #dcddde; /* Light text color */
}

#guessButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5865f2; /* Discord blue */
    color: #ffffff; /* White text color */
    /* Align button slightly lower */
    margin-top: 5px;
}

#guessButton:hover {
    background-color: #4752c4; /* Slightly darker blue on hover */
}
.debut-text {
    font-weight: bold;
    color: white;
}
#autocomplete {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
    border: 1px solid #4f545c; /* Darker border */
    max-height: 150px;
    overflow-y: auto;
    background-color: #40444b; /* Dark background */
    border-radius: 5px;
}

#autocomplete li {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center the content */
    height: 55px;
    padding: 0 10px; /* Padding for spacing */
    cursor: pointer;
    color: #dcddde; /* Light text color */
    border-bottom: 1px solid #4f545c; /* Border between items */
}

#autocomplete li img {
    height: 55px; /* Set image height */
    margin-right: 10px; /* Space between image and text */
}

#autocomplete li:hover {
    background-color: #36393f; /* Slightly lighter on hover */
}


#results {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

#results li, #results li-correct {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #4f545c; /* Darker border */
    border-radius: 5px;
    margin-bottom: 10px;
}

#results li-correct {
    background-color: #3ba55c;
}

#results li {
    background-color: #40444b; /* Dark background */
}


#results li div, #results li-correct div  {
    width: 100px;
    text-align: center;
    overflow-wrap: anywhere;
}

.correct {
    background-color: #3ba55c; /* Discord green */
    color: #ffffff; /* White text */
}

.similar {
    background-color: #faa61a; /* Discord yellow */
    color: #000000; /* Black text */
}

#message {
    font-size: 1.2em;
    margin-top: 20px;
    color: #dcddde; /* Light text color */
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5865f2; /* Discord blue */
    color: #ffffff; /* White text color */
}

button:hover {
    background-color: #4752c4; /* Slightly darker blue on hover */
}

/* CSS for Stats Modal */
#stats {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2; /* Sit on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
}

.stats-content {
    background-color: #40444b; /* Dark background for content */
    color: #dcddde; /* Light text color */
    border: 1px solid #4f545c; /* Darker border */
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 10% auto;
    text-align: center;
}

.stats-content h2 {
    color: #ffffff; /* White text for headers */
}

#closeCharacters {
    background-color: #5865f2; /* Discord blue */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#closeStats {
    background-color: #5865f2; /* Discord blue */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#closeStats:hover {
    background-color: #4752c4; /* Slightly darker blue on hover */
}

#guessDistribution {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#guessDistribution li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #4f545c; /* Darker border */
}

/* Existing CSS rules here */

#buttonContainer {
    display: flex;        /* Use flexbox layout */
    gap: 10px;            /* Space between the buttons */
    margin-top: 20px;     /* Margin from the top */
}

#statsButton, #helpButton, #aboutButton, #characterButton {
    display: inline-block;  /* Ensure buttons are inline-block */
    padding: 10px 20px;     /* Padding for buttons */
    font-size: 16px;        /* Font size for buttons */
    cursor: pointer;        /* Cursor style for buttons */
    border: none;           /* Remove default border */
    border-radius: 5px;    /* Rounded corners for buttons */
    background-color: #5865f2; /* Discord blue */
    color: #ffffff;         /* White text color */
}

#statsButton:hover, #helpButton:hover, #aboutButton:hover, #characterButton:hover {
    background-color: #4752c4; /* Slightly darker blue on hover */
}


#closeStats, #statsButton, #helpButton, #aboutButton, #characterButton {
    margin-top: 20px;
    background-color: #5865f2; /* Discord blue */
}

#closeStats:hover, #statsButton:hover, #helpButton:hover, #aboutButton:hover, #characterButton:hover {
    background-color: #4752c4; /* Slightly darker blue on hover */
}

/* Additional styling for the new section */
#guessSection {
    margin-top: 30px;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

#dottedBoxes {
    display: grid;
    grid-template-columns: repeat(4, 100px); /* 4 columns, each 100px wide */
    grid-gap: 10px; /* Space between the boxes */
    justify-content: center;
    margin-bottom: 20px;
}

.dotted-box {
    width: 100px;
    height: 100px;
    border: 2px dotted #4f545c; /* Darker border */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #dcddde; /* Light text color */
    background-color: #40444b; /* Dark background */
}

.guessed {
    border: 2px solid #a53b3b; ; /* Darker border */
    background-color: #36393f; /* Slightly lighter background */
    color: #dcddde; /* Light text color */
    font-size: 1em; /* Slightly smaller font size for better fit */
    overflow: hidden;
    text-overflow: ellipsis;
}

.correct-guess {
    border: 2px solid rgb(59, 165, 92); /* Darker border */
    color: #ffffff; /* White text color */
}

/* Popup container - background overlay */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color:  rgba(0, 0, 0, 0.7);
}

/* Popup content */
.popup-content {
    background-color: #5e626c; /* Popup background */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Adjust width if necessary */
    text-align: center;
    position: relative; /* For close button positioning */
    color: #ffffff; /* Text color */
}

/* Popup header */
.popup-header {
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.popup-header h2 {
    margin: 0;
}

/* The close button */
.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
}

/* Image container */
.image-container img {
    max-width: 100%;
    width: 500px; /* Set width to 500 pixels */
    height: auto; /* Maintain aspect ratio */
}

/* Button styles */
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    color: #ffffff; /* Text color */
    background-color: #5865f2; /* Discord blue */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4752c4; /* Slightly darker blue on hover */
}

#playAgain {
    margin-bottom: 30px;
}

/* Number of tries styling */
.number-of-tries {
    font-size: 18px; /* Increase font size */
    color: #faa61a;  /* Change text color to yellow */
    font-weight: bold; /* Make text bold */
}

/* Additional CSS for alignment */
#searchContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

#searchBar {
    width: 300px;
    padding: 10px;
    border: 2px solid #4f545c; /* Darker border */
    border-radius: 5px;
    background-color: #40444b; /* Dark input background */
    color: #dcddde; /* Light text color */
}

#guessButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5865f2; /* Discord blue */
    color: #ffffff; /* White text color */
    /* Align button slightly lower */
    margin-top: 5px;
}

#guessButton:hover {
    background-color: #4752c4; /* Slightly darker blue on hover */
}


/* Help modal styles */
#help, #about-popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2; /* Sit on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
}

.help-content, .about-content {
    background-color: #40444b; /* Dark background for content */
    color: #dcddde; /* Light text color */
    border: 1px solid #4f545c; /* Darker border */
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 10% auto;
    text-align: center;
}

.help-content h2, .about-content h2 {
    color: #ffffff; /* White text for headers */
}

.help-content ul {
    list-style: none;
    padding: 0;
}

.help-content ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

#closeHelp, #closeAbout {
    background-color: #5865f2; /* Discord blue */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#closeHelp:hover, #closeAbout:hover {
    background-color: #4752c4; /* Slightly darker blue on hover */
}
.label {
    font-weight: 600;
    background-color:  #44619b;
}

#label-box {
    background-color: #44619b !important;
}

#rankSection {
    margin: 20px 0;
    text-align: center;
}

#rankHeader {
    font-size: 20px;
    color: #ffffff; /* White text color for the rank */
}

#green-box {
    color: white;
    background-color: #3ba55c;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 2px;
}

#yellow-box {
    color: white;
    background-color: #faa61a;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 2px;
}


.navbar {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
}

.navbar button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5865f2; /* Discord blue */
    color: white;
    cursor: pointer;
}
.navbar button:hover {
    background-color: #0056b3;
}

li {
    list-style:none;
}

header {
    margin-top: 50px;
}

/* Character Popup */
#charactersPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#characters-content {
    background-color: #2f3136; /* Dark background */
    color: #dcddde; /* Light text color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
}

#charactersGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

#charactersGrid div {
    background-color: #40444b; /* Dark background */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #dcddde; /* Light text color */
}
#charactersGrid img {
    margin-top: 20px;
    width: 153px;
}

#closeCharacters {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    background-color: #5865f2; /* Discord blue */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeCharacters:hover {
    background-color: #4752c4; /* Slightly darker blue on hover */
}

#typing-container {
    font-size: 24px;
    font-family: monospace;
    margin-top: 20px;
    color: white;
    text-align: center;
    width: 100%; /* Adjust as needed */
    height: 40px; /* Set a fixed height or adjust as needed */
    line-height: 40px; /* Align text vertically within the container */
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
}


/* Ensure popup height adjusts based on viewport */
@media screen and (max-width: 1024px) {

    
#typing-container {
    font-size: 16px;
}



    #hero-img {
        height: 250px; 
        margin: 10px;
    }

    #charactersPopup {
        max-height: 100vh; /* Ensure it fits smaller screens */
    }

    #characters-content {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    #charactersGrid {
        gap: 10px; /* Adjust gap for smaller screens */
    }

    .character-item {
        width: 80px; /* Adjust item size for smaller screens */
        height: 80px;
    }

    #results {
        list-style-type: none;
        padding: 0;
        width: 100%;
        max-width: 800px;
        margin-top: 20px;
        font-size: 10px;
    }

    #results li,#results li-correct {
        display: flex;
        justify-content: center;
        width: 320px;
        padding: 10px;
        border-bottom: 1px solid #4f545c;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .label {
        font-weight: 600;
        background-color: #44619b;
        font-size: 10px;
    }

    #searchBar {
        width: 200px;
        padding: 10px;
        border: 2px solid rgb(79, 84, 92);
        border-radius: 5px;
        background-color: rgb(64, 68, 75);
        color: rgb(220, 221, 222);
    }

    #autocomplete {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        width: 250px;
        border: 1px solid rgb(79, 84, 92);
        max-height: 150px;
        overflow-y: auto;
        background-color: rgb(64, 68, 75);
        border-radius: 5px;
    }

    #footer-text {
        padding-top: 10px;
         padding-bottom: 10px;
          font-size: 14px;
         padding-left: 30px;
         font-weight: normal;
         text-align: center;
        color: #aaaaaa;
    }
    

    h1 {
        color: #ffffff; /* White text for headings */
        text-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 1px 2px rgba(0, 0, 0, .2);
        font-weight: 800;
        height: 35px;
        font-size: 2.5em;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        display: flex;
        width: 300px;
    }

    .header-title {
        font-size: 18px;
    }

    #dottedBoxes {
        grid-template-columns: repeat(4, 1fr); /* 2 columns, each taking up equal space */
        grid-gap: 5px; /* Reduced space between the boxes */
    }

    .dotted-box {
        width: 80px; /* Smaller box width */
        height: 80px; /* Smaller box height */
        font-size: 1.2em; /* Smaller font size for better fit */
    }

    .guessed {
        font-size: 0.9em; /* Smaller font size for better fit */
    }
    #characters-content {
        height: 3120%;
    }
    .popup-content {
        width: 70%; /* Increased width for smaller screens */
        max-width: none; /* Remove the max-width constraint */
        margin: 10% auto; /* Increase top margin to ensure it's centered properly */
    }

    .popup-header {
        font-size: 24px; /* Reduce font size for smaller screens */
    }

    .close {
        font-size: 30px; /* Reduce size of close button */
    }

    #statsButton, #helpButton, #aboutButton, #characterButton {
        display: inline-block;  /* Ensure buttons are inline-block */
        padding: 5px 10px;     /* Padding for buttons */
        font-size: 12px;        /* Font size for buttons */
        cursor: pointer;        /* Cursor style for buttons */
        border: none;           /* Remove default border */
        border-radius: 5px;    /* Rounded corners for buttons */
        background-color: #5865f2; /* Discord blue */
        color: #ffffff;         /* White text color */
    }

    header {
        margin-top: 30px;
    }
    
    
}